index.html
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "virtual-interview",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -464,
        0
      ],
      "id": "64261b79-11b3-44c2-9da4-bca7a935c446",
      "name": "Webhook",
      "webhookId": "b353a9be-d6e2-4c6b-836d-21c032168ebd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "176cc3af-edff-471f-879d-a7621f39813a",
              "name": "sessionId",
              "value": "={{$json.body.sessionId}}",
              "type": "string"
            },
            {
              "id": "03972f98-5d30-4c78-83e1-228b98f3f8ee",
              "name": "name",
              "value": "={{$json.body.name}}",
              "type": "string"
            },
            {
              "id": "cc55465e-d3c2-420c-b2a7-e9067ed16e12",
              "name": "emailId",
              "value": "={{$json.body.email}}",
              "type": "string"
            },
            {
              "id": "880d38cd-16e3-4515-8090-712cdd398bb8",
              "name": "skill",
              "value": "={{ $json.body.skill }}",
              "type": "string"
            },
            {
              "id": "73495166-6189-4ff6-9aaf-6a3fca5596b8",
              "name": "level",
              "value": "={{ $json.body.level }}",
              "type": "string"
            },
            {
              "id": "6f3a510b-03e1-402d-a85f-08ac47fd953c",
              "name": "userMessage",
              "value": "={{ $json.body.userMessage }}",
              "type": "string"
            },
            {
              "id": "df25233f-48bc-40d8-b82c-eacd6e56f17e",
              "name": "password",
              "value": "={{ $json.body.password }}",
              "type": "string"
            },
            {
              "id": "new-field-1",
              "name": "questionIndex",
              "value": "={{ $json.body.questionIndex || 1 }}",
              "type": "number"
            },
            {
              "id": "new-field-2",
              "name": "answerQuality",
              "value": "={{ $json.body.answerQuality || 'average' }}",
              "type": "string"
            },
            {
              "id": "new-field-3",
              "name": "correctAnswers",
              "value": "={{ $json.body.correctAnswers || 0 }}",
              "type": "number"
            },
            {
              "id": "new-field-4",
              "name": "totalQuestions",
              "value": "={{ $json.body.totalQuestions || 0 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        0
      ],
      "id": "8b2fbb9a-07db-4ca2-9920-e3d026ef1ae4",
      "name": "Set Inputs"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA",
          "mode": "list",
          "cachedResultName": "userDetails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 854953377,
          "mode": "list",
          "cachedResultName": "InterviewSessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA/edit#gid=854953377"
        },
        "filters": {
          "conditions": [
            {
              "id": "filter-1",
              "column": "sessionId",
              "operator": "equal",
              "value": "={{ $json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -160,
        -160
      ],
      "id": "check-previous-questions",
      "name": "Check Previous Questions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JtxylX6y3Pg7jWWo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all previously asked questions for this session\nconst sessionData = $input.all();\nconst previousQuestions = [];\n\n// Extract questions from the session data\nif (sessionData && sessionData.length > 0) {\n  sessionData.forEach(item => {\n    if (item.json && item.json.questionAsked) {\n      previousQuestions.push(item.json.questionAsked.toLowerCase());\n    }\n  });\n}\n\n// Get user inputs from the Set Inputs node\nconst userInputs = $('Set Inputs').first().json;\n\nreturn [{\n  json: {\n    ...userInputs,\n    previousQuestions: previousQuestions,\n    previousQuestionsCount: previousQuestions.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        -80
      ],
      "id": "process-previous-questions",
      "name": "Process Previous Questions"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf2e7101-f71b-4a81-8031-43cd626e7611",
              "name": "prompt",
              "value": "=You are an expert {{$json.skill}} interviewer conducting a technical interview.\n\nCANDIDATE: {{$json.name}} ({{$json.level}} level)\nQUESTION #: {{$json.questionIndex || 1}}\nPREVIOUS ANSWER: \"{{$json.userMessage || 'Starting interview'}}\"\nANSWER QUALITY: {{$json.answerQuality || 'average'}}\nCORRECT ANSWERS: {{$json.correctAnswers || 0}}/{{$json.totalQuestions || 0}}\n\nPREVIOUSLY ASKED QUESTIONS IN THIS SESSION:\n{{$json.previousQuestions && $json.previousQuestions.length > 0 ? $json.previousQuestions.map((q, i) => `${i+1}. ${q}`).join('\\n') : 'None yet'}}\n\nSTRICT ANTI-REPEAT RULES:\n1. NEVER ask any question that appears in the \"PREVIOUSLY ASKED QUESTIONS\" list above\n2. If you notice ANY similarity to a previous question, immediately change topic completely\n3. Generate a COMPLETELY FRESH, UNIQUE question that has NOT been asked before\n4. Cover different aspects and areas of {{$json.skill}}\n5. Avoid asking the same concept in different words\n\nQUESTION VARIETY STRATEGY:\n- Rotate between: Fundamentals → Practical Experience → Tools → Best Practices → Problem Solving → Real Scenarios\n- For each area, ask about different sub-topics\n- If candidate struggles, switch to a completely different area\n- Keep building comprehensive coverage without repetition\n\nLEVEL PROGRESSION LOGIC:\n{{$json.correctAnswers >= 3 && $json.totalQuestions >= 3 ? \n  'LEVEL UP: The candidate has answered 3+ questions correctly. Consider moving to the next difficulty level.' :\n  'MAINTAIN LEVEL: Continue with current level questions.'}}\n\nINTERVIEW GUIDELINES:\n1. Act like a real interviewer - be conversational and encouraging\n2. Give specific feedback on their previous answer (2-3 words: \"Good!\", \"Excellent!\", \"I see...\")\n3. Ask ONE completely NEW question appropriate for {{$json.level}} level\n4. ENSURE the question is 100% different from any previously asked\n5. If answer quality is weak, offer encouragement and ask a simpler but DIFFERENT question\n\nLEVEL EXPECTATIONS:\n- Beginner: Basic concepts, simple definitions, foundational knowledge\n- Intermediate: Practical applications, tools, real-world scenarios, problem-solving\n- Advanced: Strategy, complex scenarios, best practices, leadership, mentoring\n\nRESPONSE FORMAT:\n[Brief feedback] [One completely new specific question]\n\nExample: \"Good explanation! Now, tell me about a time you optimized database performance - what approach did you take?\"\n\nCRITICAL: Your question MUST be completely unique and not appear in the previous questions list.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        80
      ],
      "id": "4ec77ec5-a8bd-48b2-b1aa-bdfdf025f0d3",
      "name": "Create Enhanced Interview Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{$json[\"prompt\"]}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        392,
        80
      ],
      "id": "a955320e-2ea7-4507-9cc6-4fc87d74c43b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        456,
        304
      ],
      "id": "b29decf8-7b65-43ee-97ff-7708ab2fd6b8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KJBaH3Lw8PnGLkH8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseKey": "={{ $json.reply }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1144,
        224
      ],
      "id": "999e903b-b288-4e86-bed2-5d509cc8376e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA",
          "mode": "list",
          "cachedResultName": "userDetails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "userList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.emailId }}",
            "skill": "={{ $json.skill }}",
            "level": "={{ $json.level }}",
            "password": "={{ $json.password }}"
          },
          "matchingColumns": [
            "sessionId"
          ],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "password",
              "displayName": "password",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "skill",
              "displayName": "skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        200,
        -200
      ],
      "id": "6fb29110-f361-4a31-9e6e-1199625e4056",
      "name": "Update User Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JtxylX6y3Pg7jWWo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA",
          "mode": "list",
          "cachedResultName": "userDetails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 854953377,
          "mode": "list",
          "cachedResultName": "InterviewSessions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA/edit#gid=854953377"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "sessionId": "={{ $('Set Inputs').item.json.sessionId }}",
            "questionAsked": "={{ $json.cleanOutput }}",
            "userResponse": "={{ $('Set Inputs').item.json.userMessage || '' }}",
            "questionIndex": "={{ $('Set Inputs').item.json.questionIndex || 1 }}",
            "answerQuality": "={{ $('Set Inputs').item.json.answerQuality || 'average' }}",
            "correctAnswers": "={{ $('Set Inputs').item.json.correctAnswers || 0 }}",
            "skill": "={{ $('Set Inputs').item.json.skill }}",
            "level": "={{ $('Set Inputs').item.json.level }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "questionAsked",
              "displayName": "questionAsked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userResponse",
              "displayName": "userResponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "questionIndex",
              "displayName": "questionIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "answerQuality",
              "displayName": "answerQuality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correctAnswers",
              "displayName": "correctAnswers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "skill",
              "displayName": "skill",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1096,
        -48
      ],
      "id": "1020e168-0010-40f0-b408-70b3e5423ab9",
      "name": "Log Interview Question",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JtxylX6y3Pg7jWWo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      reply: $json.cleanOutput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        952,
        224
      ],
      "id": "725c2ad9-ee52-4213-a08e-2d1193afd6b4",
      "name": "Extract First Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "020fb643-f1d0-4b7c-9835-c95c98df78ee",
              "name": "cleanOutput",
              "value": "={{ $json.output.startsWith('=') ? $json.output.slice(1) : $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        776,
        32
      ],
      "id": "e11f8ff6-7107-4505-9d42-8c7026ec8383",
      "name": "Clean AI Output"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-session",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -464,
        400
      ],
      "id": "get-session-webhook",
      "name": "Get Session Webhook",
      "webhookId": "get-session-webhook-id"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA",
          "mode": "list",
          "cachedResultName": "userDetails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "userList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11VFRqrHmDBKePHfiKy4hpV4eepOi_gTN0sWOTn9qncA/edit#gid=0"
        },
        "filters": {
          "conditions": [
            {
              "id": "filter-1",
              "column": "email",
              "operator": "equal",
              "value": "={{ $json.body.email }}"
            },
            {
              "id": "filter-2",
              "column": "password",
              "operator": "equal",
              "value": "={{ $json.body.password }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -260,
        400
      ],
      "id": "find-existing-session",
      "name": "Find Existing Session",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JtxylX6y3Pg7jWWo",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "responseBody": "={{ $json.sessionId ? { sessionId: $json.sessionId } : { sessionId: null } }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -60,
        400
      ],
      "id": "respond-session",
      "name": "Respond Session"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "Check Previous Questions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Previous Questions": {
      "main": [
        [
          {
            "node": "Process Previous Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Previous Questions": {
      "main": [
        [
          {
            "node": "Create Enhanced Interview Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Enhanced Interview Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Clean AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Update User Data": {
      "main": [
        []
      ]
    },
    "Log Interview Question": {
      "main": [
        []
      ]
    },
    "Extract First Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean AI Output": {
      "main": [
        [
          {
            "node": "Extract First Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Interview Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session Webhook": {
      "main": [
        [
          {
            "node": "Find Existing Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Session": {
      "main": [
        [
          {
            "node": "Respond Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "interviewainumpy.app.n8n.cloud",
          "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
          "content-length": "200",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "en-US,en;q=0.9",
          "content-type": "application/json"
        },
        "params": {},
        "query": {},
        "body": {
          "sessionId": "session-1754064018790-29568",
          "name": "Test User",
          "email": "test@example.com",
          "skill": "java",
          "level": "Intermediate",
          "userMessage": "I have experience with Java collections and object-oriented programming",
          "questionIndex": 2,
          "answerQuality": "strong",
          "correctAnswers": 1,
          "totalQuestions": 1,
          "password": "hashedpassword123"
        },
        "webhookUrl": "https://interviewainumpy.app.n8n.cloud/webhook/virtual-interview",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c82967bae5ce611e728e5e4bcea606764e9049a76de6a7a46d598ed3e58067d5"
  }
}
